body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.business-name {
  margin-left: auto;
  padding-left: 20px;
  font-size: 1.2em;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Ajusta según el espacio disponible */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e5450f;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.navbar .logo {
  color: white;
  font-size: 24px;
  text-decoration: none;
  flex-shrink: 0;
}

.navbar .menu-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .menu li {
  position: relative;
  margin-left: 20px;
  flex-shrink: 0;
}

.navbar .menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.navbar .menu li a:hover {
  color: #ddd;
  background-color: #cc2b00;
}

.navbar .submenu {
  display: none;
  position: absolute;
  background-color: #e5450f;
  top: 30px;
  left: 0;
  padding: 10px 0;
  list-style: none;
  margin: 0;
  min-width: 300px; /* Ancho mínimo de los submenús */
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .submenu li {
  margin: 0;
}

.navbar .submenu li a {
  color: white;
  padding: 10px 20px;
  display: block;
  border-bottom: 1px solid #cc2b00;
}

.navbar .submenu li a:hover {
  background-color: #cc2b00;
}

.navbar .submenu li:last-child a {
  border-bottom: none; /* Eliminar borde del último elemento */
}

.navbar .menu li:hover .submenu {
  display: block;
}

.navbar .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar .menu-toggle div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .navbar .menu-container {
    justify-content: flex-start;
  }

  .navbar .menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar.active .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .menu li {
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }

  .navbar .submenu {
    position: static;
    padding: 0;
  }

  .navbar .submenu li a {
    padding: 10px;
    border-bottom: 1px solid #cc2b00;
  }

  .navbar .menu-toggle {
    display: flex;
  }
}

.navbar .menu li:last-child a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.navbar .menu li:last-child a:hover {
  color: #ddd;
  background-color: #cc2b00;
}

/* Clase para el contenido de la página */
.content {
  margin-top: 60px; /* Ajusta según la altura del navbar */
  padding: 20px;
}

.full-screen-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Asegura que la imagen ocupe toda la altura de la pantalla */
  z-index: -1; /* Coloca la imagen detrás del contenido */
}

.full-screen-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}

.navbar .logo img {
  height: 10px; /* Ajusta esta altura según el tamaño que desees */
  width: auto; /* Mantiene la proporción del logo */
  margin-right: 10px; /* Espacio entre el logo y el nombre de la empresa */
  vertical-align: middle; /* Alinea verticalmente el logo */
}

.company-logo {
  height: 10px; /* Altura del logo, ajusta según sea necesario */
  width: auto; /* Mantiene la proporción del logo */
}
