body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  margin: 100px 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.product-image {
  width: 50px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}

.remove-btn {
  padding: 5px 10px;
  background-color: #e5450f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #cc2b00;
}

.finish-order-btn {
  padding: 10px 20px;
  background-color: #e5450f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.finish-order-btn:hover {
  background-color: #cc2b00;
}

.total-label {
  text-align: right;
  font-weight: bold;
}
