body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: 100px auto; /* Separado 100px del tope */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.orderDetails {
  background-color: #fff; /* Fondo blanco para todos los estados */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.orderDetails img {
  display: block;
  margin: 10px auto;
}

.progress-bar {
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
  height: 20px; /* Adjusted height for better visibility */
}

.progress {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 0.5s;
  position: relative;
}

.progress-dot {
  width: 20px; /* Adjusted size for better visibility */
  height: 20px; /* Adjusted size for better visibility */
  background-color: #ff5733;
  border-radius: 50%;
  position: absolute;
  top: 0px; /* Adjusted position for better alignment */
  right: -10px; /* Adjusted position for better alignment */
}
